

.styles__importantInfo_1So7Xp2iZcWdWy4j8P2L96 {
    animation: styles__blink-animation_MN-tSJRiKJWagN9ZBaP4y 1s steps(5, start) infinite;
    -webkit-animation: styles__blink-animation_MN-tSJRiKJWagN9ZBaP4y 1s steps(5, start) infinite;
}

@keyframes styles__blink-animation_MN-tSJRiKJWagN9ZBaP4y {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes styles__blink-animation_MN-tSJRiKJWagN9ZBaP4y {
    to {
        visibility: hidden;
    }
}

/*# sourceMappingURL=3-ad1038ea30b54ce9c994.css.map*/