@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
.Loading__loader_2T8RZ48RTkcnPG4rF9WtXT {
  animation: Loading__blink-animation_3TbP68tCLsB3dMuZLNqhdL 1s steps(5, start) infinite;
  -webkit-animation: Loading__blink-animation_3TbP68tCLsB3dMuZLNqhdL 1s steps(5, start) infinite;
  color: #fff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
}

@keyframes Loading__blink-animation_3TbP68tCLsB3dMuZLNqhdL {
  to {
      visibility: hidden;
  }
}

@-webkit-keyframes Loading__blink-animation_3TbP68tCLsB3dMuZLNqhdL {
  to {
      visibility: hidden;
  }
}

/*
// This file is just an example, please delete assets/fonts/YourFavoriteFont when you install
// You probably need a different fonts for your site :)
//
// And in order to setup ultimate and correct font-faces, please use the following link
// https://css-tricks.com/snippets/css/using-font-face/
//
// The font-face here is just to show the setup is working
*/

body {
  background: #111;
}

.index__container_34kGs2CsEbKTMTUmpykYg3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #fff;
}

.index__container_34kGs2CsEbKTMTUmpykYg3 .index__content_Vub7SbTqsCq4DEAtWm3_o {
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
  }

@media (max-width: 500px) {

  .index__container_34kGs2CsEbKTMTUmpykYg3 h1 {
      font-size: 0.9rem;
      margin-bottom: 1rem;
  }

  .index__container_34kGs2CsEbKTMTUmpykYg3 p {
      font-size: 0.75rem;
  }
}

@media (max-width: 280px) {

  .index__container_34kGs2CsEbKTMTUmpykYg3 .index__content_Vub7SbTqsCq4DEAtWm3_o {
      width: 450px;
      overflow: auto;
  }
}


/*# sourceMappingURL=app-ad1038ea30b54ce9c994.css.map*/