@import "configs/color";
@import "configs/font-faces";

body {
  background: #111;
}

.container {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #fff;

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
  }

  @media(max-width: 500px) {
    h1 {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.75rem;
    }
  }

  @media(max-width: 280px) {
    .content {
      width: 450px;
      overflow: auto;
    }
  }
}
